src/main/mule/authentication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="verifyUser" doc:id="c88abc52-041b-46da-8fd0-891ecb1918dd" >
		<set-variable value="#[payload.password as String]" doc:name="Set Variable" doc:id="7fdbf867-13f9-4b54-b4bb-4204bd448b7b" variableName="pp"/>
		<db:query-single doc:name="Query single" doc:id="8c3b88cb-eb77-4f82-8647-7c161808d642" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM users 
WHERE email = :EMAIL]]></db:sql>
			<db:input-parameters ><![CDATA[#[{EMAIL: payload.email}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="aff9787d-536a-4ae6-9bc7-b6d3e8b1e17a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	userId: payload.user_id,
	firstName: payload.first_name,
	lastName: payload.last_name,
	email: payload.email,
	password: payload.password,
	age: payload.age,
	gender: payload.gender
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static doc:name="ComparePasswords" doc:id="b837ed9f-549e-4cd6-86e1-62e482e1ba11" class="security.ComparePassword" method="checkPassword(java.lang.String,java.lang.String)" target="compareResult">
			<java:args ><![CDATA[#[{
	arg0: vars.pp as String,
	arg1: payload.password as String
}]]]></java:args>
		</java:invoke-static>
		<choice doc:name="Choice" doc:id="42e9e34b-ffea-4355-a52d-de55b783958e" >
			<when expression="#[vars.compareResult]">
				<logger level="INFO" doc:name="Auth Successful" doc:id="c8dbf31a-a97d-4525-8764-88bdfcbbd363" message="Auth Success"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Auth Error" doc:id="2d93106e-b61c-4aa8-92a6-42e4a66a6254" message="Auth Not Successfull"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="createJwtToken" doc:id="0bc46f79-76e2-45c6-b619-18c44aa887ee" >
		<java:invoke-static doc:name="generate JWT TOKEN" doc:id="5ae8cc38-78d5-4e82-8f6b-3aba506aa0c1" class="security.JwtUtil" method="generateToken(java.lang.String,int)" target="jwtToken">
			<java:args ><![CDATA[#[{
	arg0: payload.user_id,
	arg1: 120
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="2e8be429-251f-4043-ab70-5de2e3a2e20d" />
	</flow>
	<sub-flow name="validateJwtToken" doc:id="76c195e3-6800-4a18-a352-f7790389ba80" >
		<java:invoke-static doc:name="validate JWT Token" doc:id="30344f52-3214-4a88-a83b-9b47e50c3cb2" class="security.JwtUtil" method="validateToken(java.lang.String)">
			<java:args ><![CDATA[#[arg0: payload.token]]]></java:args>
		</java:invoke-static>
	</sub-flow>
</mule>
