src/main/mule/ims_specs.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="ims_specs-2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}">
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="ims_specs-2-config" api="resource::1d40ff95-4409-446f-973d-a1a23f61dafc:ims_specs:1.0.0:raml:zip:ims_specs.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
    <flow name="ims_specs-2-main">
        <http:listener config-ref="ims_specs-2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ims_specs-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ims_specs-2-console">
        <http:listener config-ref="ims_specs-2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ims_specs-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users:ims_specs-2-config">
        <flow-ref doc:name="getAllUsers" doc:id="a5f7b4a0-ac8d-4873-be28-8431f0cfa712" name="getAllUsers" />
    </flow>
	<flow name="get:\users\(userId):ims_specs-2-config">
       <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="9b69e769-19ca-4327-b3ba-47cb1782f903" variableName="getOneUser" />
        <flow-ref doc:name="getSpecificUser" doc:id="f17595a8-5755-4d19-8f1e-c9662bb249eb" name="getSpecificUser" />
        <remove-variable doc:name="Remove Variable" doc:id="3c29decb-7b56-470a-894c-7e5ad568f31c" variableName="getOneUser" />
    </flow>
	<flow name="get:\users\(userId)\collections:ims_specs-2-config">
       <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="6f92af73-f21b-42c1-b0a4-f9db2f59a3ac" variableName="userId" />
        <flow-ref doc:name="Flow Reference" doc:id="fd525bb1-ec85-4be6-9737-5a4a17f3cde9" name="getAllCollectionForUser" />
        <remove-variable doc:name="Remove Variable" doc:id="7f1f5f5e-e4a3-4eba-b6fc-6c13209a951b" variableName="userId" />
    </flow>
	<flow name="get:\users\(email)\invitations:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'email']" doc:name="Set Variable" doc:id="8d081fd9-e2c4-47fe-87ef-28040fb28f5b" variableName="userEmail" />
        <flow-ref doc:name="Flow Reference" doc:id="f6fde0ac-ffd1-4cf0-ba0e-7412be4abc34" name="getUserInvites" />
        <remove-variable doc:name="Remove Variable" doc:id="21179d45-583f-463e-9105-6b3645aadbf2" variableName="userEmail" />
    </flow>
	<flow name="post:\users:application\json:ims_specs-2-config">
               <flow-ref doc:name="createNewUser" doc:id="5030df02-4590-4499-b46e-785172221271" name="createNewUser" />
    </flow>
	<flow name="post:\users\(userId)\sendInvite:application\json:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="287f2253-afb7-4391-9e9d-a04b52d4d1a9" variableName="userId" />
        <flow-ref doc:name="Flow Reference" doc:id="5a4e699f-c7e6-4e20-a95f-a74d518810ea" name="sendInvite" />
        <remove-variable doc:name="Remove Variable" doc:id="af416210-c840-48d7-8949-a4e812fc4fa4" variableName="userId" />
    </flow>
	<flow name="post:\users\(userId)\group:application\json:ims_specs-2-config">
       <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="33599f2d-8c37-4f6c-bcba-04ae169a04e8" variableName="userId" />
        <flow-ref doc:name="createNewGroup" doc:id="b2eafdee-ad03-48e6-a355-dfcf9e5831b3" name="createNewGroup" />
        <remove-variable doc:name="Remove Variable" doc:id="5061d003-3624-461f-9d61-f38ec6f3c483" variableName="userId" />
    </flow>
	<flow name="put:\users\(userId):application\json:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="a68a285c-68de-43fb-967e-d71c08096c12" variableName="updateUserId" />
        <flow-ref doc:name="updateUser" doc:id="49fed4e1-0387-4812-9933-451530411aa1" name="updateUser" />
        <remove-variable doc:name="Remove Variable" doc:id="149c5340-b50b-41e9-8e8c-3cbf708dbd5a" variableName="updateUserId" />
    </flow>
	<flow name="put:\users\(userId)\acceptInvite:application\json:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="43d902dc-04c7-45f4-8b33-9d1b264bc86e" variableName="userId" />
        <flow-ref doc:name="Flow Reference" doc:id="df7cf13b-7531-4bf3-ab2d-e9dd0cec3343" name="acceptInvite" />
        <remove-variable doc:name="Remove Variable" doc:id="e06c6009-a4a1-4355-a9f1-6f0e30daa5dd" variableName="userId" />
    </flow>
    <flow name="patch:\users\(userId)\denyInvite:application\json:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="9688a5f2-9ff3-40a6-a5ba-d8757cdd5e2a" variableName="userId" />
        <flow-ref doc:name="Flow Reference" doc:id="38d8c7f5-d0cc-4edb-b313-49cf7f48813b" name="denyInvite" />
        <remove-variable doc:name="Remove Variable" doc:id="ccbb6f90-4a42-40f3-8c0a-a26d4d1f68fd" variableName="userId" />
    </flow>
	<flow name="delete:\users\(userId):ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="7a1b9240-ce20-4346-a667-0b3c93bfb5e0" variableName="deleteUserId" />
        <flow-ref doc:name="deleteUser" doc:id="511c5858-076e-4b45-9d51-489afccb0858" name="deleteUser" />
        <remove-variable doc:name="Remove Variable" doc:id="3195d0d7-0abd-4ca0-a72f-419d8d68f785" variableName="deleteUserId" />
    </flow>
	<flow name="get:\items:ims_specs-2-config">
        <flow-ref doc:name="GetAllItems" doc:id="ab6314bc-3200-4752-98a2-6196a22a2aaa" name="getAllItems" />
    </flow>
	<flow name="get:\items\(itemId):ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="63befd86-6ec1-4fa7-9fcf-8165da497906" variableName="GetItemId" />
        <flow-ref doc:name="getSpecifikItem" doc:id="daecc7fb-8002-433b-92fe-af0cfdf90434" name="getSpecificItem" />
        <remove-variable doc:name="Remove Variable" doc:id="126fa888-0a98-4e5b-8e91-ea989cac7aaf" variableName="GetItemId" />
    </flow>
	<flow name="get:\items\(userId)\items:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="cc7ce55f-4e4d-4949-9ecc-722549edd59c" variableName="userId" />
        <flow-ref doc:name="getAllItemUser" doc:id="b473881c-4e4a-4caf-90cc-a8866462430e" name="getAllItemsForSpecificUser" />
        <remove-variable doc:name="Remove Variable" doc:id="24e9a11e-cc73-42e5-a358-2d8411628010" variableName="userId" />
    </flow>
	<flow name="post:\items:application\json:ims_specs-2-config">
        <set-variable value="#[attributes.queryParams.'collectionId']" doc:name="Set Variable" doc:id="c97ddf2f-c232-4fa4-8aa0-81e61d2e73e8" variableName="PostItem" />
        <ee:transform doc:name="Transform Message" doc:id="9b73d55b-74c1-45e1-8995-ff4d44ef2d86">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  name: payload.name,
  price: payload.price as Number,
  amount: payload.amount as Number,
  "type": payload."type",
  width: payload.width as Number,
  height: payload.height as Number,
  color: payload.color,
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="createNewItem" doc:id="6e961fbd-056f-49d6-89b6-94c5ebbff0aa" name="createNewItem" />
        <remove-variable doc:name="Remove Variable" doc:id="786a24ba-5889-4c5c-81dc-8e5774621f7f" variableName="PostItem" />
    </flow>
	<flow name="put:\items\(itemId):application\json:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="82810bfd-defb-4fa0-843c-ba0af05815da" variableName="updateItemId" />
        <ee:transform doc:name="Transform Message" doc:id="c3514264-2c03-4e32-ba54-98b725618e23">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: payload.name,
	price: payload.price as Number,
	amount: payload.amount as Number,
	"type": payload."type",
	width: payload.width as Number,
	height: payload.height as Number,
	color: payload.color,
	collectionId: payload.collectionId as Number
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="updateItem" doc:id="086517ba-de47-41df-8b8d-fa30bbafb722" name="updateItem" />
        <remove-variable doc:name="Remove Variable" doc:id="9ab02e1c-e0e2-4f12-9977-902125acf103" variableName="updateItemId" />
    </flow>
    <flow name="delete:\items\(itemId):ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="7235d4fc-2298-4b3c-a7c6-371fde5815be" variableName="deleteItemId" />
        <flow-ref doc:name="deleteItem" doc:id="3ecbc667-39f7-432f-ae0b-47614856a157" name="deleteItem" />
        <remove-variable doc:name="Remove Variable" doc:id="398c1e7a-bd9b-4161-b562-3854efb36062" variableName="deleteItemId" />
    </flow>
	<flow name="get:\collections:ims_specs-2-config">
        <flow-ref doc:name="getAllCollections" doc:id="df1e0f87-1143-4f08-8a86-1468b0eb91a1" name="getAllCollections" />
    </flow>
	<flow name="get:\collections\(collectionId):ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="ce4d6966-2761-4ba7-994f-9afbf2257772" variableName="getSingleCollection" />
        <flow-ref doc:name="getSpecificCollection" doc:id="dc485e46-a944-40df-b19e-8461f85a4762" name="getSpecificCollection" />
        <remove-variable doc:name="Remove Variable" doc:id="a3dd6135-af6d-4529-91fd-e98df60f7753" variableName="getSingleCollection" />
    </flow>
	<flow name="get:\collections\(collectionId)\items:ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="42111988-860e-4ebe-ac1b-4d154bccacbf" variableName="getCollectionWithItems" />
        <flow-ref doc:name="Flow Reference" doc:id="178d2b79-8ae3-4881-b098-ab66de3f276f" name="getSpecificCollectionWithItems" />
        <remove-variable doc:name="Remove Variable" doc:id="b4a7d790-d034-4bed-b72f-3fcaa2cb5066" variableName="getCollectionWithItems" />
    </flow>
    <flow name="post:\collections:application\json:ims_specs-2-config">
    	<flow-ref doc:name="Flow Reference" doc:id="ef50ca4a-e22d-46f0-9b03-0c660480b322" name="createNewCollection" />
    </flow>
    <flow name="delete:\collections\(collectionId):ims_specs-2-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="57f73015-3ce9-4732-8aed-b6f3fdb76f60" variableName="deleteCollectionId" />
        <flow-ref doc:name="Flow Reference" doc:id="c7c54f83-0055-47bc-aed4-625e00304eaf" name="deleteSpecificCollection" />
        <remove-variable doc:name="Remove Variable" doc:id="ccb80899-854a-43b5-8ab3-50d10a2b4a0c" variableName="deleteCollectionId" />
    </flow>
	<flow name="post:\auth\login:application\json:ims_specs-2-config">
<set-variable value="#[{ password: payload.password as String, email: payload.email as String }]" doc:name="Set Variable" doc:id="00a4f812-e415-471d-9d1c-fcd605bf39d7" variableName="pp" />
        <flow-ref doc:name="Auth/verifyUser" doc:id="8817d807-a36c-49a5-aa80-2708c965aedb" name="verifyUser" />
        <flow-ref doc:name="Auth/ createJwT" doc:id="5da4b5cc-2c4c-4a78-a6c6-e6a36c7fba1e" name="createJwtToken" />
        <ee:transform doc:name="Transform Message" doc:id="67a9802c-35f1-45ee-9e1f-e8ecacfb0406">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	token: vars.jwtToken,
	user: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <remove-variable doc:name="Remove Variable" doc:id="10781698-6b5d-46eb-bcf6-1d2e9c64ef14" variableName="pp" />    </flow>
    <flow name="post:\auth\verify:application\json:ims_specs-2-config">
        <ee:transform doc:name="Transform Message" doc:id="39cce724-ad3d-457e-849d-b5651c6c0fb5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	token: payload.token
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="934baae0-28fd-4c0b-b006-72ce2e26916e" name="validateJwtToken" />
        <ee:transform doc:name="Transform Message" doc:id="6245eaa1-1cf6-41a4-89b9-4f03d6873e39">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
