src/main/mule/ims_specs.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="ims_specs-httpListenerConfig">
        <http:listener-connection host="${api.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="ims_specs-config" api="resource::a1600366-34e7-452e-a23d-daddabc1e9c9:ims_specs:1.0.14:raml:zip:ims_specs.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ims_specs-main">
        <http:listener config-ref="ims_specs-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ims_specs-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ims_specs-console">
        <http:listener config-ref="ims_specs-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ims_specs-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users:ims_specs-config">
        <db:select doc:name="Select" doc:id="826e227e-77bf-44e1-8b91-db77e63efbf7" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM ims.users]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="e9d80ee4-be20-430d-bf9f-9897d980d085">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	userId: payload01.user_id as Number,
	firstName: payload01.first_name,
	lastName: payload01.last_name,
	email: payload01.email,
	password: payload01.password,
	(age: payload01.age as Number) if (payload01.age != null),
	gender: payload01.gender
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log select query response" doc:id="c754b5ce-7328-43c8-815f-be7d2ac41348" message="#[payload]" />
    </flow>
    <flow name="get:\users\(userId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="5cb33924-5692-4d9e-87f3-b178c290944b" variableName="getOneUser" />
        <try doc:name="Try" doc:id="41ecfad8-6e4d-463e-9e9a-3c2cf53773d7">
            <db:query-single doc:name="Query single" doc:id="c37b68b7-15db-4b54-921a-c1e2ddf2701b" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT 	
u.user_id, u.first_name, u.last_name, u.email, u.password, u.age, u.gender
FROM users u
WHERE u.user_id = :ID]]></db:sql>
                <db:input-parameters><![CDATA[#[{ID: vars.getOneUser}]]]></db:input-parameters>
            </db:query-single>
            <ee:transform doc:name="Transform Message" doc:id="cf87f228-f3a1-40c3-b398-ff8bbcd15f3e">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	userId: payload.user_id as Number,
	firstName: payload.first_name,
	lastName: payload.last_name,
	email: payload.email,
	password: payload.password,
	(age: payload.age as Number) if (payload.age != null),
	gender: payload.gender
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="4ce7b910-5af8-4194-956a-f37ac49c1d80" variableName="getOneUser" />
        <logger level="INFO" doc:name="Logger" doc:id="3d4ce615-30ce-4c89-b026-f80f36858203" message="#[payload]" />
    </flow>
    <flow name="post:\users:application\json:ims_specs-config">
        <java:invoke-static doc:name="Invoke static" doc:id="7efd98ca-09eb-4503-88c6-40b93badd31b" class="security.PasswordHasher" method="hashPassword(java.lang.String)" target="hashedPassword">
            <java:args><![CDATA[#[arg0: payload.password]]]></java:args>
        </java:invoke-static>
        <ee:transform doc:name="Transform Message" doc:id="c2ae685a-9f83-44ae-a40b-fe144372d144">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  firstName: payload.firstName,
  lastName: payload.lastName,
  email: payload.email,
  password: vars.hashedPassword,
  age: payload.age as Number,
  gender: payload.gender default null
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="e58396cc-1588-4fc6-9709-06d009ee0889" message="#[payload]" />
        <try doc:name="Try" doc:id="af31639c-152a-446e-bb0d-5a8912eee2bf">
            <db:insert doc:name="Insert" doc:id="9472ee0d-8951-4b64-af80-55cbeaed2136" config-ref="Database_Config">
                <db:sql><![CDATA[INSERT INTO `ims`.`users` (`first_name`, `last_name`, `email`, `password`, `age`, `gender`)
VALUES
(:FIRST_NAME, :LAST_NAME, :EMAIL, :PASSWORD, :AGE, :GENDER)]]></db:sql>
                <db:input-parameters><![CDATA[#[{FIRST_NAME: payload.firstName, LAST_NAME: payload.lastName, 
	EMAIL: payload.email, PASSWORD: payload.password, 
	AGE: payload.age, GENDER: payload.gender
}]]]></db:input-parameters>
            </db:insert>
            <ee:transform doc:name="Transform Message" doc:id="00f54f62-3a3f-4103-b1c9-79ae19bfc661">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Successfully created new user"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <logger level="INFO" doc:name="Logger" doc:id="d8557ba6-5fb8-499b-aa6b-95d63ffda46e" message="Successfully created user" />
    </flow>
    <flow name="put:\users\(userId):application\json:ims_specs-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="20eb8295-7ce8-4bfa-92bb-4ce883df46d0" variableName="updateUserId" />
        <ee:transform doc:name="Transform Message1" doc:id="8b3fa88a-4596-4157-9b9a-98a7c1e99806">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    firstName: payload.firstName,
    lastName: payload.lastName,
    email: payload.email,
    password: payload.password,
    age: payload.age as Number,
    gender: payload.gender as String default null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <java:invoke-static method="hashPassword(java.lang.String)" doc:name="Invoke static" doc:id="b2934ceb-a3f2-4a72-b6bd-9bdeb1ba37c8" class="security.PasswordHasher" target="hashedPassword">
            <java:args><![CDATA[#[arg0: payload.password]]]></java:args>
        </java:invoke-static>
        <try doc:name="Try" doc:id="9510a0ad-5b1e-4eed-a19c-84d407af9e09">
            <db:update doc:name="Update an existing user" doc:id="6d45d197-b16b-41d7-92b0-2f9326b35ea6" config-ref="Database_Config">
                <db:sql><![CDATA[UPDATE `ims`.`users`
SET
    `first_name` = :firstName,
    `last_name` = :lastName,
    `email` = :email,
    `password` = :password,
    `age` = :age,
    `gender` = :gender
WHERE `user_id` = :userId]]></db:sql>
                <db:input-parameters><![CDATA[#[{
	userId: vars.updateUserId,
	firstName: payload.firstName,
	lastName: payload.lastName,
	email: payload.email,
	password: vars.hashedPassword,
	age: payload.age,
	gender: payload.gender
}]]]></db:input-parameters>
            </db:update>
            <ee:transform doc:name="Transform Message" doc:id="8021c4a9-4552-4069-9979-d54a154fe414">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "User successfully updated"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="fe0f1e88-c051-48fb-9118-7ab3170c6d76" variableName="updateUserId" />
        <logger level="INFO" doc:name="Logger" doc:id="b039030f-12c8-4bc2-8e4a-9e24b40ee4d5" message="Successfully updated user" />
    </flow>
    <flow name="delete:\users\(userId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="b18df9ff-fa45-4602-89d9-60052f1abf36" variableName="deleteUserId" />
        <try doc:name="Try" doc:id="fd4492cc-9aa9-4c91-b9db-6fc4e4898fa1">
            <db:delete doc:name="Delete an user" doc:id="098effcf-9125-4f6c-bc84-17b1741290a6" config-ref="Database_Config">
                <db:sql><![CDATA[DELETE FROM users WHERE user_id = :USER_ID]]></db:sql>
                <db:input-parameters><![CDATA[#[{USER_ID: vars.deleteUserId}]]]></db:input-parameters>
            </db:delete>
            <ee:transform doc:name="Transform Message" doc:id="c56e638d-03ad-459c-bfbf-14691f8419db">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "User successfully deleted"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="56f93c4b-11db-4a3a-a952-ff668142e252" variableName="deleteUserId" />
        <logger level="INFO" doc:name="Logger" doc:id="f2473eb0-72ae-4dec-8e92-29641facb259" message="delete:\users\(userId):bachelorims-config" />
    </flow>
    <flow name="get:\items:ims_specs-config">
        <try doc:name="Try" doc:id="fcc30738-9812-488f-9bff-a78de76c8a1c">
            <db:select doc:name="Select" doc:id="17b3cabb-4729-4275-9b91-416f3c09a565" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT * FROM items]]></db:sql>
            </db:select>
            <ee:transform doc:name="Transform Message" doc:id="b673d27d-566c-4c40-b92e-3566822095ca">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	itemId: payload01.item_id,
	amount: payload01.amount,
	color: payload01.color,
	price: payload01.price,
	name: payload01.name,
	width: payload01.width,
	height: payload01.height,
	"type": payload01.height
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <logger level="INFO" doc:name="Logger1" doc:id="9bc39128-ecf4-4a07-b746-607beaeead7b" message="Got all items" />
    </flow>
	<flow name="get:\items\(itemId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="0605a2c4-4e31-46e6-b669-b8f5560cb12a" variableName="GetItemId" />
        <try doc:name="Try" doc:id="4f6da256-ae62-4c6c-9714-7605fa69a6c3">
            <db:query-single doc:name="Query single" doc:id="621dd80d-f6c8-4003-911c-ec45c3b98edf" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT i.item_id, i.name, i.price, i.amount, i.type, i.width, i.height, i.color, i.collection_id
FROM items i
WHERE i.item_id = :ID]]></db:sql>
                <db:input-parameters><![CDATA[#[{ID: vars.GetItemId}]]]></db:input-parameters>
            </db:query-single>
            <ee:transform doc:name="Transform Message" doc:id="0c5fbe6f-597d-4fc3-a54f-66bba969548b">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	itemId: payload.item_id,
	name: payload.name,
	price: payload.price,
	amount: payload.amount,
	"type": payload.amount,
	width: payload.width,
	height: payload.height,
	color: payload.color,
	collectionId: payload.collection_id
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="38e340bc-4fc6-42d0-87ae-b4989d950ff7" variableName="GetItemId" />
        <logger level="INFO" doc:name="Logger" doc:id="dc799a07-1f0d-4094-bbc9-d06f07071a15" message="Successfully found an item" />
    </flow>
	<flow name="get:\items\(userId)\items:ims_specs-config">
        <set-variable value="#[attributes.uriParams.'userId']" doc:name="Set Variable" doc:id="fe0366d4-2612-4ee3-8599-b62d917a51d1" variableName="userId"/>
		<db:select doc:name="Select" doc:id="585104f6-c6d9-42f0-a1fb-af80d158b6b9" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT i.*
FROM ims.users u
JOIN ims.collections c ON u.user_id = c.user_id
JOIN ims.items i ON c.collection_id = i.collection_id
WHERE u.user_id = :UID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{UID: vars.userId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a7b37020-a53c-4701-adc2-18ed065c450f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(payload01, index) -> {
	itemId: payload01.item_id,
	name: payload01.name,
	price: payload01.price,
	amount: payload01.amount,
	"type": payload01."type",
	width: payload01.width,
	height: payload01.height,
	color: payload01.color
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<remove-variable doc:name="Remove Variable" doc:id="3eb9906a-0985-4d41-9981-8ace48f667ec" variableName="userId"/>
    </flow>
	<flow name="post:\items:application\json:ims_specs-config">
        <set-variable value="#[attributes.queryParams.'collectionId']" doc:name="Set Variable" doc:id="6557c649-ad76-49aa-9057-93553693a9d4" variableName="PostItem" />
        <ee:transform doc:name="Transform Message" doc:id="2af4a93b-16e4-4daf-90e3-111b4186dd98">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  name: payload.name,
  price: payload.price as Number,
  amount: payload.amount as Number,
  "type": payload."type",
  width: payload.width as Number,
  height: payload.height as Number,
  color: payload.color,
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try doc:name="Try" doc:id="c9668c2e-4324-4329-90db-17954f78b420">
            <db:stored-procedure doc:name="Stored procedure" doc:id="ff249ed8-f8da-422c-8456-9a13e12927b2" config-ref="Database_Config">
                <db:sql><![CDATA[CALL AddItemAndReturn(:NAME, :PRICE, :AMOUNT, :TYPE, :WIDTH, :HEIGHT, :COLOR, :CID)]]></db:sql>
                <db:input-parameters><![CDATA[#[{
	NAME: payload.name, PRICE: payload.price, AMOUNT: payload.amount, TYPE: payload."type",
	WIDTH: payload.width, HEIGHT: payload.height, COLOR: payload.color, CID: vars.PostItem
}]]]></db:input-parameters>
            </db:stored-procedure>
            <ee:transform doc:name="Transform Message" doc:id="0295eb8c-927b-4621-8945-47a875a07029">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	itemId: payload[0].item_id[0],
	name: payload[0].name[0],
	price: payload[0].price[0],
	"type": payload[0]."type"[0],
	width: payload[0].width[0] default null,
	height: payload[0].height[0] default null,
	color: payload[0].color[0] default "None",
	collectionId: payload[0].collection_id[0]
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="a5c587dd-c465-423a-a1d6-1c26fc5960d9" variableName="PostItem" />
    </flow>
	<flow name="put:\items\(itemId):application\json:ims_specs-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="324ea670-48a1-4195-85e9-f53e858e6666" variableName="updateItemId" />
        <ee:transform doc:name="Transform Message" doc:id="a2b67a33-8133-4bca-aec5-48e69173a6c8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: payload.name,
	price: payload.price as Number,
	amount: payload.amount as Number,
	"type": payload."type",
	width: payload.width as Number,
	height: payload.height as Number,
	color: payload.color,
	collectionId: payload.collectionId as Number
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try doc:name="Try" doc:id="8c33b5b8-ed1b-4ae9-9370-95c4373edbe3">
            <db:update doc:name="Update an existing item" doc:id="a26d5d73-90a0-47e6-9ac1-2bbd81a63370" config-ref="Database_Config">
                <db:sql><![CDATA[UPDATE items
SET name = :NAME, 
    price = :PRICE, 
    amount = :AMOUNT, 
    type = :TYPE, 
    width = :WIDTH, 
    height = :HEIGHT, 
    color = :COLOR, 
    collection_id = :COLLID
WHERE item_id = :ITEMID;]]></db:sql>
                <db:input-parameters />
            </db:update>
            <ee:transform doc:name="Transform Message" doc:id="eaa222d6-4467-43d0-90b7-e7abe40d805c">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Item successfully updated"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="d761e042-a40e-4012-a4ce-e750f627755e" variableName="updateItemId" />
        <logger level="INFO" doc:name="Logger" doc:id="cbdb1683-98a9-4d40-b64d-8a32f93616ef" message="Successfully updated user" />
    </flow>
    <flow name="delete:\items\(itemId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'itemId']" doc:name="Set Variable" doc:id="da8cf4b8-d069-431f-9744-8d4b6908e822" variableName="deleteItemId" />
        <try doc:name="Try" doc:id="678ea9bf-c9bc-4b88-a9dd-0b7bdfd91776">
            <db:delete doc:name="Delete an item" doc:id="645fd3c4-1c17-4a05-9588-9b9c8f3b2146" config-ref="Database_Config">
                <db:sql><![CDATA[DELETE FROM items WHERE item_id = :ITEMID]]></db:sql>
                <db:input-parameters><![CDATA[#[{ITEMID: vars.deleteItemId}]]]></db:input-parameters>
            </db:delete>
            <ee:transform doc:name="Transform Message" doc:id="9fff5c8c-0f12-499f-b7a4-d8ccda313375">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Item successfully deleted"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="60a6f99b-69df-4ce5-b446-9efd93fdf92d" variableName="deleteItemId" />
        <logger level="INFO" doc:name="Logger" doc:id="da1d7f15-803c-4d53-933c-375b9c42430b" message="delete:\items\(itemId):bachelorims-config" />
    </flow>
	<flow name="get:\collections:ims_specs-config">
        <db:select doc:name="Select all collections" doc:id="c06b6e67-f91d-4aab-9df6-edfe088707bf" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM collections]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="e82bc418-b170-4ed2-89b1-eecf1d533c58">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	collectionId: payload01.collection_id,
	userId: payload01.user_id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\collections\(collectionId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="ceda5ca4-d6b7-4b01-bed4-ec239756da20" variableName="getSingleCollection" />
        <try doc:name="Try" doc:id="775f3be8-fb17-4ea4-8254-04622d7e9901">
            <db:query-single doc:name="Query single collection" doc:id="3251b474-866e-41be-ac13-042bafb1516e" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT * FROM collections
WHERE collection_id = :CID]]></db:sql>
                <db:input-parameters><![CDATA[#[{CID: vars.getSingleCollection}]]]></db:input-parameters>
            </db:query-single>
            <ee:transform doc:name="Transform Message" doc:id="7139686f-8ef4-4db8-84bb-ba85abba5cec">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	collectionId: payload.collection_id,
	userId: payload.user_id
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="28241db2-50e5-4943-b8e8-e11557058c4e" variableName="getSingleCollection" />
    </flow>
    <flow name="get:\collections\(collectionId)\items:ims_specs-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="dbcc03b0-f1ab-4f56-9e67-405ac4386094" variableName="getCollectionWithItems" />
        <try doc:name="Try" doc:id="fd5d720d-dcba-44fe-8f25-b41e86efcc73">
            <db:select doc:name="Select collection with items" doc:id="269643a2-a440-469c-a447-3d4d7fd2062e" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT c.collection_id, i.item_id, i.name, i.price, i.amount, i.type, i.width, i.height, i.color
FROM ims.collections AS c
JOIN ims.items AS i ON c.collection_id = i.collection_id
WHERE c.collection_id = :COLID;]]></db:sql>
                <db:input-parameters><![CDATA[#[{ COLID: vars.getCollectionWithItems }]]]></db:input-parameters>
            </db:select>
            <ee:transform doc:name="Transform Message" doc:id="a76d1f31-cea4-4028-b384-eb4d2979ba22">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	collectionId: vars.getCollectionWithItems,
	items: payload map {
		itemId: $.item_id,
		name: $.name,
		price: $.price,
		amount: $.amount,
		"type": $."type",
		width: $.width,
		height: $.height,
		color: $.color,
	}
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <remove-variable doc:name="Remove Variable" doc:id="0a7c80c7-b037-44e4-b802-5791dc61cf64" variableName="getCollectionWithItems" />
    </flow>
	<flow name="post:\collections:application\json:ims_specs-config">
        <ee:transform doc:name="Transform Message" doc:id="964eccae-7e37-4734-a0f9-df3502769c0f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	userId: attributes.queryParams.userId, 
	name: payload.name,
	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:stored-procedure doc:name="Stored procedure" doc:id="b885fd20-db4f-4239-bc0b-b33c8df63068" config-ref="Database_Config">
            <db:sql><![CDATA[CALL AddCollectionAndReturnIt(:NAME, :UID)]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	UID: payload.userId,
	NAME: payload.name
}]]]></db:input-parameters>
        </db:stored-procedure>
        <ee:transform doc:name="Transform Message" doc:id="bfc03f45-b88a-4284-9cb7-31d9b5b2ed96">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: payload[0].name[0],
	userId: payload[0].user_id[0],
	collectionId: payload[0].collection_id[0],
	itemCount: payload[0].item_count[0]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="7bdd759c-356c-418e-a728-bf7ba2c73988" />
    </flow>
    <flow name="delete:\collections\(collectionId):ims_specs-config">
        <set-variable value="#[attributes.uriParams.'collectionId']" doc:name="Set Variable" doc:id="008be2e2-7146-4fe3-9fa1-059b5d1a94e5" variableName="deleteCollectionId" />
        <db:delete doc:name="Delete a collection" doc:id="dfd1727a-918d-4167-a5f6-c28c90947584" config-ref="Database_Config">
            <db:sql><![CDATA[DELETE FROM collections 
WHERE collection_id = :COLID]]></db:sql>
            <db:input-parameters><![CDATA[#[{COLID: vars.deleteCollectionId}]]]></db:input-parameters>
        </db:delete>
        <remove-variable doc:name="Remove Variable" doc:id="2c2a7ddf-1228-4dd2-87e3-65d26588c01a" variableName="deleteCollectionId" />
        <logger level="INFO" doc:name="Logger" doc:id="a23baaae-1297-4312-9f66-03afede00567" message="delete:\collections\(collectionId):bachelorims-config" />
    </flow>
	<flow name="get:\users\(userId)\collections:ims_specs-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <try doc:name="Try" doc:id="6d0717f3-f384-4298-9a7c-93a103ceb24d">
            <db:select doc:name="Select" doc:id="07a6ce35-722b-4277-9d88-4bc033d8cc17" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT c.collection_id, c.user_id, c.name, COUNT(i.item_id) AS item_count
FROM collections c
LEFT JOIN items i ON c.collection_id = i.collection_id
WHERE c.user_id = :UID
GROUP BY c.collection_id;]]></db:sql>
                <db:input-parameters><![CDATA[#[{UID: vars.userId}]]]></db:input-parameters>
            </db:select>
            <ee:transform doc:name="Transform Message" doc:id="f88f8f3e-75db-4b18-ac83-4bfc9da98e5f">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(payload01, index) -> {
	collectionId: payload01.collection_id,
	userId: payload01.user_id,
	name: payload01.name,
	itemCount: payload01.item_count
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </try>
        <logger level="INFO" message="get:\users\(userId)\collections:ims_specs-config" />
    </flow>
	<flow name="post:\auth\login:application\json:ims_specs-config">
        <flow-ref doc:name="Auth/verifyUser" doc:id="78ed8acb-61f2-459b-bad0-f3c94dc17292" name="verifyUser" />
        <flow-ref doc:name="Auth/ createJwT" doc:id="2997c477-3428-4360-b99c-37a0dbefb4ed" name="createJwtToken" />
        <ee:transform doc:name="Transform Message" doc:id="60c45acd-c2f7-44ff-8338-d815c98bf812">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	token: vars.jwtToken,
	user: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="1470ffe3-838c-4ac4-8e8d-c11184b43cb9" />
    </flow>
    <flow name="post:\auth\verify:application\json:ims_specs-config">
        <ee:transform doc:name="Transform Message" doc:id="de7f1df1-d56e-47c2-b78e-b2e7b8127744">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	token: payload.token
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="0bd66286-6da4-4ae6-88d8-3763e81709b3" name="validateJwtToken" />
        <ee:transform doc:name="Transform Message" doc:id="bf8a4213-410f-4354-ad3f-213cbdd774c4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="fc147d34-5165-4c6d-8aa6-5b328c0d2949" />
    </flow>
</mule>
