src/main/mule/invites.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getUserInvites" doc:id="30ad7ea3-7b36-447c-8ecd-ef32e8465e39" >
		<db:select doc:name="Select" doc:id="ffb7f7f5-6b40-465b-9a4b-845ff777205b" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM group_invitation gi
WHERE gi.reciever_email = :EMAIL 
AND gi.accepted = false AND gi.denied = false]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	EMAIL: vars.userEmail
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="03c9a6bb-deda-4286-aecc-4599ea48baa3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(invites) -> {
	invId: invites.invitation_id,
	senderFN: invites.sender_first_name, 
	senderLN: invites.sender_last_name,
	groupId: invites.group_id,
	groupName: invites.group_name,
	invToken: invites.token,
	acceptedAt: invites.accepted_at
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sendInvite" doc:id="2eb0c703-d0f8-4a10-8e05-7dfa8a367440" >
		<db:stored-procedure doc:name="Stored procedure" doc:id="99eb3cdb-139a-4240-9f0a-e997ecea17cd" config-ref="Database_Config" >
			<error-mapping sourceType="DB:QUERY_EXECUTION" targetType="APP:NO_EMAIL" />
			<db:sql ><![CDATA[CALL SendGroupInvitation(:GID, :UID, :EMAIL)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
 	GID: payload.groupId,
 	EMAIL: payload.recieverEmail,
 	UID: vars.userId
 }]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="5bc142d4-9e07-4ea3-ad0c-d4e95bdbb96a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Successfully send invite to user"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="acceptInvite" doc:id="64771f07-9193-4d70-b0fc-94cac57c56d6" >
		<db:stored-procedure doc:name="Stored procedure" doc:id="78bce038-62ff-4b15-91d1-bc6265dce39c" config-ref="Database_Config" >
			<db:sql ><![CDATA[CALL AcceptInvitation(:TOKEN, :UID)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	TOKEN: payload.invToken,
	UID: vars.userId
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="9796dcd9-375d-42f1-9088-d0f2b8f28d83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.resultSet1 map ((item, index) -> {
    groupId: item.group_id,
    groupName: item.group_name
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="denyInvite" doc:id="767b4ee6-59fe-4e3b-a3a7-8896c285c6cc" >
		<db:update doc:name="Update" doc:id="76ad7f3b-a94b-49fe-861e-fabb6d339c8c" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE group_invitation gi
SET gi.changed_at = now(), gi.denied = true
WHERE invitation_id = :INID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	INID: payload
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="529bc02b-b6b0-46fc-b34e-0b41a13c32c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Successfully denied a group invitation"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
